{% extends "base.html" %}

{% block title %}Academic Performance{% endblock title %}

{% block content %}
<div  class="columns">
    <div class="column is-half">
        <div class="block">
            <a href="/academic/add_results">
                <button class="button is-success is-fullwidth">
                    Add Results          
                </button>
            </a>
        </div>
        <div class="block">
            <a href="/academic/submitted_results">
                <button class="button is-success is-fullwidth">
                    Submitted Results            
                </button>
            </a>
        </div>
        <div class="block">
            <a href="/academic/view_results">
                <button class="button is-success is-fullwidth">
                    View Results            
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock content %}