{% extends "base.html" %}

{% block title %}Academic Performance{% endblock title %}

{% block content %}
<div class="columns">
    <div class="column is-half">
        <div class="block">
            <a href="/academic/">
                <button class="button is-success is-fullwidth">
                    Academic Performance                
                </button>
            </a>
        </div>
        <div class="block">
            <a href="/revision_resources/">
                <button class="button is-success is-fullwidth">
                    Revision Resources              
                </button>
            </a>
        </div>
        <div class="block">
            <a href="/calendar/">
                <button class="button is-success is-fullwidth">
                    Calendar                
                </button>
            </a>
        </div>
        <div class="block">
            <a href="/notes/">
                <button class="button is-success is-fullwidth">
                    Notes                
                </button>
            </a>
        </div>   
    </div>
    <div class="column is-half">
        <section>
            <h1>Up coming Events</h1>
        </section>
        {% for event in events %}
                <div class="box">
                    {{ event.title }}
                    <span class="is-small has-text-grey-light">
                        (startTime {{ event.end_time }} EndTime {{ event.start_time }})
                    </span>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}