{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Posts</title>
</head>
<body>
    <div id ="wrapper">
        <header id="header">
            <div id="logo"><img src="{% static 'logo.jpg' %}" alt=""/>
                <span style="float: right;">
                {% if user.is_authenticated %}
                 Hello, {{ user.username }}. <a href="{% url 'logout' %}?next=/">Log out</a>.
                {% else %}
                 Not logged in. <a href="{% url 'login' %}?next=/">Log in</a>. 
                {% endif %}
                </span>
            </div>
            <div id="topbanner"><img src="{% static 'top_banner.png' %}" width="700" height="150" title="I'm the top banner" alt=""/></div>
        </header>
        <div class="topnavbar">
            <a class="active" href="{% url 'homepage' %}">Home</a>
            <!--{% block topnavbar %}
            <a href="/posts">Posts</a>
            {% endblock topnavbar %}-->
            <a href="{% url 'posts:mainscreen' %} ">Posts</a>
            <a href="/need_help">Need Help?</a>
            <a href="/user_profiles/profile/">Your Profile</a>
        </div>
    <section>
        <h1>Your Posts Page</h1>
        <p>Here, you can post whatever's on your mind or follow other users and view their posts!</p>
    </section>

    <div class="container">
        <div class="columns">

            {% block content %}

            {% endblock content %}

        </div>
    </div>
</body>
</html>