.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

.eventP1 {
  color: red;
  font-size: 25px;
}
.eventP2 {
  color: orange;
  font-size: 25px;
}
.eventP3 {
  color: green;
  font-size: 25px;
}

.topnavbar {
  background-color: currentColor;
  overflow: hidden;
}

.topnavbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar a:hover {
  background-color: #ddd;
  color: black;
}

.topnavbar a.active {
  background-color: #04AA6D;
  color: white;
}