{% extends "base.html" %}
{% load static %}

{% block title %}Academic Performance - Add Results {% endblock title %}

{% block topnavbar %}
    {% for page in page_list %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    {% endfor %}
{% endblock topnavbar %}

{% block content %}
<h1>Sub topics</h1> 
   {% if topics %}
        {%   for topic in topics %}
       <ul><a href='resources/{{topic}}'>{{topic}}</a></ul>
        {% endfor %}
     {% else %}
        <h2>Please request your administrator to add topics to Subject</h2> 
      {% endif %}
{% endblock content %}