{% extends "base.html" %}
{% load static %}

{% block title %}Academic Performance - Add Results {% endblock title %}

{% block topnavbar %}
    {% for page in page_list %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    {% endfor %}
{% endblock topnavbar %}

{% block content %}
<h1>Enrolled Subjects</h1> 
     {% if isSubjectUpdated %}
     {%   for subject in subjects %}
     <ul><a href='topics/{{subject.subject_id}}''>{{subject.subject_name}}</a></ul>
     {% endfor %}
     {% else %}
      <h2>Please update your profile</h2> 
    {% endif %}
{% endblock content %}
