{% extends "base.html" %}
{% load static %}

{% block title %}Academic Performance - Add Results {% endblock title %}

{% block topnavbar %}
    {% for page in page_list %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    {% endfor %}
{% endblock topnavbar %}
{%block scripts%}
<script  type='text/javascript'>
      $(function(){
    $("#subTopics").dataTable();
  })
</script>
{%endblock scripts%}
{% block content %}
<table id="subTopics">
    <thead>
      <tr><th>Sub topics</th></tr>
    </thead>
    <tbody>
        {% if topics %}
        {%   for topic in topics %}
        <tr><td> <ul><a href='resources/{{topic}}'>{{topic}}</a></ul></td></tr>
        {% endfor %}
     {% else %}
        <h2>Please request your administrator to add topics to Subject</h2> 
      {% endif %}
    </tbody>
  </table>
{% endblock content %}