{% extends "base.html" %}

{% block title %}Posts{% endblock title %}

{% block content %}

<div class="columns">
    <div class="column is-half">
        <section>
            <h1>Your Posts Page</h1>
            <p>Here, you can post whatever's on your mind or follow other users and view their posts!</p>
        </section>
        <div class="block">
            <a href="{% url 'posts:profile_list' %} ">
                <button class="button is-dark is-outlined is-fullwidth">
                    All Profiles
                </button>
            </a>
        </div>
    
        <div class="block">
            <a href="{% url 'posts:profile' request.user.posts_profile.id %} ">
                <button class="button is-success is-light is-outlined is-fullwidth">
                    My Profile
                </button>
            </a>
        </div>
    
        <div class="block">
            <div class="block">
                <h2 class="title is-3">Add a Post</p>
            </div>
            <div class="block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-success is-fullwidth is-medium mt-5"
                        type="submit">Post
                    </button>
                </form>
            </div>
        </div>
    
    </div>
    <div class="column is-half">
        {% for post in posts %}
                <div class="box">
                    {{ post.body }}
                    <span class="is-small has-text-grey-light">
                        {{ post.updated_at }} by {{ post.user.username }} 
                    </span>
                    {% if post.user_id == user_id %}
                    <a href='/posts/update_post/{{post.id}}'><i class="material-icons" style="font-size:30px;color:rgb(0, 255, 115)">update</i> </a>
                    <a href='/posts/delete_post/{{post.id}}'> <i class="material-icons" style="font-size:30px;color:red">delete_forever</i></a>
                    {% endif %}
                </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}