{% extends "base.html" %}

{% block title %}Posts{% endblock title %}
{%block scripts%}
<script  type='text/javascript'>
      $(function(){
    $("#UserList").dataTable({
    "paging": false,
    "searching": true,
    "info": false
  } );
  })
</script>
{%endblock scripts%}

{% block content %}
<table id="UserList" class="table is-bordered">
  <thead>
    <tr>
      <div class="card">
        <th>UserList</th>      
      </div>
  </tr>
  </thead>
<tbody>
  {%   for profile in profiles %}
  <tr>
    <td> 
      <div class="card media-content">
      <a href="{% url 'posts:profile' profile.id %}">  <p class="title is-5">{{ profile.user.username }} </p> </a> 
    </td>  
    </div>     
  </tr>
{% endfor %}
</tbody>  
 </table>

{% endblock content %}